*~
.idea
\#*\#
.\#*
target/
build/
eclipse-base.tar.gz
eclipse/
org.eclipse.releng.basebuilder/
org.eclipse.releng.basebuilder.zip
com.vmware.sts.server.appcloud.releng/springsource/
/AppCloudClient/src/test/java/com/vmware/appcloud/client/credentials.properties
.classpath
.project
.settings
